In [1]:
import operator

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import pandas as pd
from statsforecast import StatsForecast
from statsforecast.models import AutoETS, Holt, HoltWinters, SimpleExponentialSmoothing

from mlforecast import MLForecast
from mlforecast.lag_transforms import Combine, RollingMean
from sklearn.inspection import permutation_importance
from sklearn.ensemble import RandomForestRegressor

/opt/anaconda3/envs/mysampleProject/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
# Read data
sales = pd.read_csv('sales_data.csv', parse_dates=['date'])
meta = pd.read_csv('metadata.csv')
future = pd.read_csv('future_values.csv', parse_dates=['date'])

/var/folders/gm/_yp4_bjn6l7dvvpx97_5_c0c0000gn/T/ipykernel_52005/1217882146.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  sales = pd.read_csv('sales_data.csv', parse_dates=['date'])

In [5]:
sales

,store_id,date,sales,customers,open,promo,state_holiday,school_holiday
0,store_1,2015-07-19,0,0,0,0,0,0
1,store_2,2015-07-19,0,0,0,0,0,0
2,store_3,2015-07-19,0,0,0,0,0,0
3,store_4,2015-07-19,0,0,0,0,0,0
4,store_5,2015-07-19,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
624619,store_672,2013-01-07,9444,735,1,1,0,0
624620,store_673,2013-01-07,25165,1661,1,1,0,0
624621,store_674,2013-01-07,8984,907,1,1,0,0
624622,store_675,2013-01-07,21237,2962,1,1,0,0
624623,store_676,2013-01-07,6905,471,1,1,0,1